version: '3.3'
# volumes:
#   static:
services:
  # backend:
  #   build:
  #     context: ../backend
  #     dockerfile: Dockerfile
  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    volumes:
      - ../frontend/:/app/result_build/
    # volumes:
    #   - static:/frontend_static
    # command: cp -r /app/build/. /frontend_static/
  nginx:
    image: nginx:1.19.3
    ports:
      - "80:80"
    volumes:
      # - ../backend/static:/usr/share/nginx/html/
      - ../backend/recipes/images/:/usr/share/nginx/html/recipes/images/
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - ../docs/:/usr/share/nginx/html/api/docs/
